.list-group li{
    background-color: #464444;
    color: whitesmoke;
    border-color: whitesmoke;
}
.card{
    background-color: #464444;
    border: 3px solid whitesmoke;
}
.card-title{
    color: tomato;
}
.card:hover .card-title {
    color: white;
}
.card-footer a:hover{
    color: white;
}